*{
    margin: 0%;
    padding: 0%;
}
/* .Header{
    text-align: center;
    background-color:rgb(88,149,149);
    min-width:100%vw;
    box-shadow: 5px;
} */
#container{
    
    text-align: center;
    color: rgb(34,87,98);
    background-color:rgb(88,149,149);
    min-width:100%vw;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    padding: 0px 2vw;
}